.title {
   text-align:center;
   font-family: Arial, Helvetica, sans-serif;
   padding-left: 5%;
   padding-right: 5%;
   animation-name: switchText;
   animation-duration: 4s;
   animation-iteration-count: infinite;
}

.pageContainer {
}

.footer {
    background-color: #FAFAFA;
    text-align: center;
}

/* article text styling */

.dateArticle {
 text-align:right;
 font-family: Arial, Helvetica, sans-serif;
}

b {
 font-family: Arial, Helvetica, sans-serif;
}

p, li {
 padding-left: 5%;
 padding-right: 5%;
 font-family: Arial, Helvetica, sans-serif;
 text-align: justify;
}


h1 {
 text-align:center;
 font-family: Arial, Helvetica, sans-serif;
 padding-left: 5%;
 padding-right: 5%;
}

h2 {
 text-align: left;
 font-family: Arial, Helvetica, sans-serif;
 padding-left: 5%;
 padding-right: 5%;
}

h3 {
 padding-left: 5%;
 padding-right: 5%;
 font-family: Arial, Helvetica, sans-serif;
}

hr {
  width:10%;
  height:1%;
  border-width:0;
}

/* images styling */

figure {
  padding-left:5%;
  text-align:center;
}

figure > img {
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: auto;
}

figcaption {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  font-family: Arial, Helvetica, sans-serif;
}


/* desktop devices */
@media screen and (min-width: 769px) {
}

/* mobile devices */
@media only screen and (max-width: 768px) {
}