{% include "header.html" %}

<div class="pageContainer" id="container">
    <p class="articleArea">
    <h1>Ici, on teste, on développe, on bidouille, et on recommence !</h1>

    <table>
        <tr>
            <td>
                <h2>Mes traces sur le net</h2>

                <p>
                    Mon <a href="http://github.com/Aqueuse">Github</a> :
                    <i>Code, DataScience, Jeu Video</i>
                </p>

                <p>
                    Ma chaîne <a href="http://www.youtube.com/channel/UCKb5CKFHEihr1b7mLJuOs9g">Youtube</a> :
                    <i>Bidouilles et autres expérimentations</i>
                </p>

                <p>
                    Mon profil <a href="http://hackaday.io/Aqueuse">Hackaday</a> :
                    <i>Bricolages sérieux et électronique</i>
                </p>

                <p>
                    Mes <a href="http://twitch.tv/aqueuse">streams</a> :
                    <i>Live coding, blabla, etc</i>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <br>
                <br>
                <br>
                <hr>
                <h2>Poséidon Majordome : accélérateur de Data Science</h2>
                <p>Un générateur graphique de projets légers combinant la puissance de R
                    et la souplesse de Java. Il est livré avec un <b>service</b> permettant de
                    sauvegarder les données brutes et les résultats dans une base MongoDB afin
                    de les récupérer facilement et de gagner encore plus de temps.</p>
                <p>Les projets peuvent être exportés en <i>standalone application</i> :
                    desktop (Swing) ou web (avec serveur tomcat intégré) pour un déploiement rapide.
                    Le <b>service</b> reste accessible dans tous les cas.</p>

                <p>La page github du projet : <a href="http://github.com/Aqueuse/PoseidonMajordome">
                    http://github.com/Aqueuse/PoseidonMajordome</a></p>
            </td>
        </tr>
    </table>
    </p>
</div>

{% include "tchoutchouFooter.html" %}