<div class="footer"></div>

<script>
  var railsNumber = "=";
  var space = " ";

  for (i=0; i< window.innerWidth/18; i++) {
    railsNumber = railsNumber+"=";
    space = space+" ";
  }

  let pre = document.createElement('pre');
  pre.innerHTML = space+"               @0o"+'\n'+
                  space+"                 OO"+'\n'+
                  space+"                   o"+'\n'+
                  space+" ___   _____   __  ||"+'\n'+
                  space+"|---|.|-----|.[  ]--| "+'\n'+
            railsNumber+"=G=G===G===G==G==G==G="+railsNumber;

  document.querySelector('.footer').append(pre);
</script>

</body>
</html>